base-size-font = 14px
base-font-family = "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace

base-color-text = #333

base-color-border = #666
base-padding-ui-line = 5px
base-height-ui-line = 30px

// image names
