base-size-font = 14px
base-font-family = Consolas,monaco,monospace

base-color-text = #333

base-color-border = #666
base-padding-ui-line = 5px
base-height-ui-line = 30px

padding-menu = 10px
height-menu = 50px

// image names
