@import 'kouto-swiss'
@require '_define.styl'
@require '_grid.styl'
@require '_mixin.styl'

meyer-reset()
box-sizing-reset()
normalize()

html
	color base-color-text

	& *
	& *:after
	& *:before
		color inherit

body
	font-size base-size-font
	font-family base-font-family
	overflow-x hidden

h1
	text-transform uppercase
	margin 0
	padding 0.67em 0

h2
	margin 0
	padding .3em 0
	font-weight bold

pre
	overflow visible
	font-family inherit
	word-break break-word

a
	color blue

/* classes */
.fa
	padding 0 3px

.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

.center
	margin-left auto
	margin-right auto

.pull-left
	float left

.pull-right
	float-right

.clearfix
	clearfix()

.clickable
	cursor pointer

.ng-cloak
	display none
