@import 'kouto-swiss'
@import '_define.styl'
@require '_grid.styl'

/* define */
color-control-border = base-color-border
color-control-border-focus = #51a9ff
height-form-line = base-height-ui-line
space-form = base-padding-ui-line
width-label = 150px

/* mixin */
hightlight-control(color)
	outline none
	border 1px solid color
	box-shadow 0 0 3px 0 color

.form
	.ui-line
		clearfix()

		.form-label
			size width-label false
			float left
			padding-right space-form

			&.inverse
				padding-right 0
				padding-left space-form
				float right

		.form-value
			margin-left width-label

			&.inverse
				margin-left 0
				margin-right width-label

		label
			line-height height-form-line

		input:not([type])
		input[type="text"]
		input[type="password"]
		input[type="email"]
		select
		textarea
			width 100%
			resize none

	fieldset
		border 1px solid color-control-border
		margin (space-form * 4) space-form

		legend
			padding space-form

input:not([type])
input[type="text"]
input[type="password"]
input[type="email"]
select
	height height-form-line

input:not([type])
input[type="text"]
input[type="password"]
input[type="email"]
select
textarea
	border 1px solid color-control-border
	padding space-form

	&:hover
		hightlight-control color-control-border

	&:active
	&:focus
		hightlight-control color-control-border-focus

textarea
	padding (space-form + 2) space-form

input[type="button"]
input[type="submit"]
input[type="reset"]
button
.button
	display inline-block
	border 1px solid color-control-border
	padding space-form
	height (height-form-line * 1.2)
	background white
	font-weight bold
	min-width width-label
	margin-bottom space-form

	&:hover
		hightlight-control color-control-border

	&:active
	&:focus
		hightlight-control color-control-border-focus

	&.button-min
		min-width 0

	&.button-small
		min-width (width-label / 2)

	&.button-large
		min-width (width-label * 1.5)

	&.button-full
		width 100%

	&.button-low
		height height-form-line

	&.button-high
		height (height-form-line * 1.4)

	&.button-full.button-high
		text-transform uppercase

	&.button-light
		border-color transparent

input[type="checkbox"]
input[type="radio"]
	display none

	& + label
		user-select none

	& + label i
		display inline-block
		size base-size-font + 2
		padding 3px
		border 1px solid color-control-border
		cursor pointer
		vertical-align middle
		margin -2px 6px 0 0

	& + label:hover i
		hightlight-control color-control-border

	& + label:active i
	& + label:focus i
		hightlight-control color-control-border-focus

	& + label i:after
		content ''
		display block
		size base-size-font - 6


	&:checked + label i:after
		background color-control-border

	& + label:active i:after
	& + label:focus i:after
		background color-control-border-focus

input[type="radio"]
	& + label i
		border-radius (base-size-font / 2)

	& + label i:after
		border-radius ((base-size-font - 6) / 2)
