@import 'kouto-swiss'
@require '_define.styl'

gs-col-no = 10

body
	gs('fluid', gs-col-no)

.row
	row()
	clearfix()

for num in (1..gs-col-no)
	.col-{num}
		col(num)


for width in (1..10)
	.panel-{width * 100}
		margin-left auto
		margin-right auto
		max-width (width * 100)px
