@import 'kouto-swiss'
@require '_define.styl'

.top-heading
	height (padding-menu * 2 + height-menu)
	line-height (padding-menu * 2 + height-menu)
	margin-left (padding-menu * 2 + height-menu)
	margin-bottom height-menu

	h1
		display inline

.logo
	z-index 1
	absolute 0 false false 0
	padding (padding-menu / 2)
	background inherit

	.indie-codes
		@extend .text-center
		size (height-menu + padding-menu / 2)
		background #333
		text-transform uppercase
		color white
		line-height ((height-menu + padding-menu / 2) / 2)
		font-weight bold
		font-size 16px

.top-menu
	z-index 1
	absolute 0 0 false false
	color white
	background inherit
	height (height-menu + padding-menu * 2)
	padding padding-menu

	ul
		clearfix()
		border 1px solid #333

		li
			float left

			a
				transition all .3s ease
				display inline-block
				padding 0 (padding-menu * 1.5)
				color white
				text-decoration none
				font-weight bold
				white-space nowrap
				text-transform uppercase
				line-height height-menu
				background #333

				&:hover
					background #666

				&.highlight
					font-size 1.1em
					background white
					color #333

					&:hover
						background #ccc

					.fa
						padding 0 10px 0 0



