<div class="top-heading">
	<h1>idea</h1>
</div>
<div class="grid">
	<div class="row">
		<div class="col form">
			<div class="idea-fragment main">
				<div class="indicator">
					<div class="indicator">
						<div class="fragment-dot" data-ng-class="{ 'multiple-lines': new }">
							<i class="fa fa-lock fa-lg fa-fw" data-ng-if="!idea.editable"></i>
							<i class="fa fa-unlock-alt fa-lg fa-fw" data-ng-if="idea.editable"></i>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="ui-line" data-ng-if="new">
						<h2>Please brief your idea</h2>
						<input type="text" data-ng-model="idea.brief">
					</div>
					<div class="ui-line" data-ng-if="!new">
						<sh-text-box data-model="idea" data-key="brief" data-on-save="saveIdea()" data-show-controls="idea.editable"></sh-text-box>
					</div>
				</div>
			</div>
			<div data-ng-repeat="frag in idea.fragments" data-ng-hide="frag.deleted" class="idea-fragment element">
				<div class="indicator">
					<div class="fragment-dot">
						<div class="connect-line">
						</div>
					</div>
				</div>
				<div class="content">
					<div class="ui-line">
						<div class="pull-right" data-ng-if="idea.editable">
							<i class="fa fa-trash fa-fw clickable" data-ng-click="deleteFragment(frag)"></i>
						</div>
						<time sh-auto-refresh data-ng-if="frag.created">Added {{frag.created.fromNow()}}</time>
					</div>
					<div class="ui-line" data-ng-if="!new">
						<sh-text-area data-model="frag" data-key="content" data-on-save="saveFragment($deferred, frag)" data-show-controls="idea.editable"></sh-text-area>
					</div>
					<div class="ui-line" data-ng-if="new">
						<textarea data-ng-model="frag.content" sh-expandable></textarea>
					</div>
				</div>
			</div>
			<div class="idea-fragment end">
				<div class="indicator">
					<div class="fragment-dot" data-ng-class="{ clickable: idea.editable }" data-ng-click="addFragment()">
						<i class="fa fa-plus fa-fw" data-ng-if="idea.editable"></i>
					</div>
				</div>
			</div>
			<div class="ui-line">
				<button type="button" class="button-full button-high" data-ng-click="saveIdea()" data-ng-if="new">Post idea</button>
			</div>
		</div>
		<div class="col form" data-ng-if="!new">
			<div class="ui-line">
				<h2>Discussion threads</h2>
			</div>
			<div class="ui-line break">
				<div class="form-label inverse">
					<button type="button" class="button-low button-full" data-ng-click="postComment()">Post</button>
				</div>
				<div class="form-value inverse">
					<textarea data-ng-model="newComment.content" sh-expandable></textarea>
				</div>
			</div>
			<div data-ng-repeat="comment in comments" class="idea-comment">
				<div class="comment-owner" data-ng-class="{ self: comment.self }">
					<div class="avatar">
						<i class="fa fa-user fa-fw fa-lg"></i>
					</div>
					<p class="comment-owner-name">{{comment.owner.public.displayName}}</p>
				</div>
				<div class="comment-content" data-ng-class="{ self: comment.self }">
					<pre>{{comment.content}}</pre>
					<time sh-auto-refresh>Posted {{comment.created.fromNow()}}</time>
				</div>
			</div>
		</div>
	</div>
</div>
